{% extends 'base.html' %}
{% block content %}


    <h1>Your Match</h1>


     {% for person in liked_back %}
              <li><div style="width: 18em;">
                    <img src="/static/uploads{{ person.profile.filename }}" class="p" alt="image">
                      <h5 class="card-title">{{person.fname}}</h5>
                      <p class="card-text">{{person.lname}}
                                          {{person.city}}
                                          {{person.age}}</p>
                      <a href="/profile/{{person.user_id}}" class="btn btn-primary">Visit profile</a>
                  </div>
                   
              </li>
    {% endfor %}

{% endblock %}