{% extends 'base.html' %}
{% block content %}

    
  <div class="container">

    <div class="row">
      <div class="col-4 offset-8">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Account
        </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Change info</a>
            <a class="dropdown-item" href="#">Profile Pic</a>
            <a class="dropdown-item" href="#">Delete A/C</a>
          </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <a href="/logout">
      <button type="button" class="btn btn-outline-info">Logout</button>
    </a>
    <a href="/connections">
      <i size: 7x; class="fas fa-link fa-3x"></i>
    </a>
    <a href="/messages">
      <span class="fa-layers fa-fw fa-3x" style="background:MistyRose">
      <i class="fas fa-envelope"></i>
      <span class="fa-layers-counter" style="background:Tomato"></span></a>
  </div> 
    
    <br>
    <br>
  <h4 class = "greet">
    <p> <img src="/static/uploads/{{ user_info.profile.filename }}" class="profile_pic" alt="image">
    Hi,{{user_info.fname}} {{user_info.lname}}</p>
    <i class="fas fa-cog fa-spin"></i>

   <p> Nice to meet you !</p>
  </h4>

        <p>Age:{{user_info.age}}</p>
        <p>City:{{user_info.city}}</p>
        <ul>Hobbies: 
        {% for hobbie in user_info.hobbies %}
        <li>{{ hobbie.hobbie_name }}</li>
        {% endfor %}
        </ul>

  <form action="/profile">
   <div>
          <label id = "Suggestions">Suggestions
            {% for person in get_allobjects %}
              <li><div style="width: 18em;">
                    <img src="/static/uploads{{ person.profile.filename }}" class="p" alt="image">
                    <div class="card-body">
                      <h5 class="card-title">{{person.fname}}</h5>
                      <p class="card-text">{{person.lname}}
                                          {{person.city}}
                                          {{person.age}}</p>
                      <a href="/profile/{{person.user_id}}" class="btn btn-primary">Visit profile</a>
                    </div>
                  </div>
                   
              </li>
            {% endfor %}
          </label>
        </div>
</form>
<div>  
<p>Search People, Connect, Talk and Meet at Caffe</p>
</div>

{% endblock %}