{% extends 'base.html' %}
{% block content %}

    
  <div class="container">
      <div class="col-1 offset-11">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Account
        </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Change info</a>
            <a class="dropdown-item" href="#">Profile Pic</a>
            <a class="dropdown-item" href="#">Delete A/C</a>
          </div>
      </div>
        <a href="/logout">
          <button type="button" class="btn btn-outline-info">Logout</button>
        </a>
        <a href="/connections">
          <i size: 7x; class="fas fa-link fa-3x"></i>
        </a>  
        {% if 'credentials' not in session %}
                <a href="/authorize">
              <button>Authorize</button>
            </a>
        {% endif %}
      </div>
    
    <br>
    <br>
  <h4 class = "greet">
    <p> <img src="/static/uploads/{{ user_info.profile.filename }}" class="profile_pic" alt="image">
    Hi,{{user_info.fname}} {{user_info.lname}}</p>
    <i class="fas fa-cog fa-spin"></i>

   <p> Nice to meet you !</p>
  </h4>

        <p>Age:{{user_info.age}}</p>
        <p>City:{{user_info.city}}</p>
        <ul>Hobbies: 
        {% for hobbie in user_info.hobbies %}
        <li>{{ hobbie.hobbie_name }}</li>
        {% endfor %}
        </ul>
  <form action="/profile">
      <label id = "Suggestions">Suggestions
        {% for person in get_allobjects %}
          <li>
            <img src="/static/uploads/{{person.profile.filename }}" class="profile_pic" alt="image">
            <h5 class="card-title">
                {{person.fname}} {{person.lname}}</h5>
                <li>City: {{person.city}}</li>
                <li>Age: {{person.age}}</li>
           <a href="/profile/{{person.user_id}}" class="btn btn-primary">Visit profile</a>          
          </li>
        {% endfor %}
      </label>
  </form>
<div>  
<p>Search People, Connect, Talk and Meet at Cafe</p>
</div>

{% endblock %}