{% extends 'base.html' %}
{% block content %}
 
    <a href="/homepage">
      <button type="button" class="btn btn-outline-primary">Home</button>
    </a>
 
    <a href="/logout">
      <button type="button" class="btn btn-outline-info">Logout</button>
    </a>

    <div id="profile">
      <img src="/static/uploads/{{ user_info.profile.filename }}" class="profile_pic" alt="image">
      <h4 class="user-name">{{user_info.fname}} {{user_info.lname}}</h4>
    </div>
      <div>
        <p>Age:{{user_info.age}}</p>
        <p>City:{{user_info.city}}</p>
        <p>Hobbies:
        {% for hobbie in user_info.hobbies %}
        <li>{{hobbie.hobbie_name}}</li>
        {% endfor %}</p>
        <p>About me: {{user_info.yourself}}</p>
      </div>
    <i class="fas fa-heart fa-3x"></i>
    <button
      id="like"
      data-liked-user-id='{{ user_info.user_id }}'
      type="button"
      class="btn btn-outline-info{% if status == 'liked' %} liked{% endif %}">Like</button>
    
    <button
      id="dislike"
      data-disliked-user-id='{{ user_info.user_id }}'
      type="button"
      class="btn btn-outline-info{% if status == 'disliked' %} disliked{% endif %}">Dislike</button>

    <!-- Show contact of user -->
    <p id="phone"> {{user_info.contact_no}}</p>


  <script>

  
  "use strict";
  let phone = $('#phone');

  let hasMatched = {{ matched|tojson }};

  if (hasMatched) { phone.show() };


  let likeButton = $('#like');
  let dislikeButton = $('#dislike');
  
  function likeResult(data) {
    console.log(data);
    likeButton.addClass("liked");
    dislikeButton.removeClass("disliked");

    // if liked_back is true, phone.html( PHONE NUMBER HERE ) and phone.show();
    if (data.liked_back == true){

      // phone.html()
      phone.show();
    }
      
  }
  
  function unlikeResult(data) {
    likeButton.removeClass('liked');
    console.log(data)
    phone.hide();
  }

  // TODO:
  // check data for status if status is ok update the classes
  // check data for liked back and if it's true then get phoneno and display it

  function processLikedclick() {
    if (likeButton.hasClass('liked')) {
      // unlike
      $.post('/unlike', likeButton.data(), unlikeResult); // data looks like this... {likedUserId: 9}
    } else {
      // like
      $.post('/like', likeButton.data(), likeResult);
           // route, data from button(id), callback()
    }
  }

  likeButton.on('click', processLikedclick);


  function processDislikedclick() { // data looks like this... {dislikedUserId: 9}
    if (dislikeButton.hasClass('disliked')){

      // undislike
      dislikeButton.removeClass('disliked');

      // ajax post request to server including id of user profile
      $.post('/undislike',dislikeButton.data(), function(data) { console.log(data); });

    } else{
      // dislike
      dislikeButton.addClass('disliked');
      $.post('/dislike',dislikeButton.data(), unlikeResult);
            // route, data from button(id), callback()

      likeButton.removeClass("liked");
      phone.hide();
    }

  }

  dislikeButton.on('click', processDislikedclick);


  </script>

{% endblock %}
