{% extends 'base.html' %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <h1></h1>
  <h3></h3>
  <form action="">

    <img class = 'image' src = "static/p.png" >
    <br>
    <br>
        
    </form>
    <div>
    <div>
  
      <a href='/account'> Account Setting</a>
      <a href='/profile'> Profile </a>   
      <a href='/logout'>Logout</a>   
      <a href='/home'>Home</a>   
      <a href='/people'>People</a>   
    </div>

</form>
<div>  
<p>Search People, Connect, Talk and Meet at Caffe</p>
</div>

       

{% endblock %}