{% extends 'base.html' %}
{% block content %}

    <h1>SetUp Your Profile</h1>
    <form action="/add-user" method="POST" enctype=multipart/form-data>

        <div>
          <label>Age:
            <select name="age"  = "select">
             {% for n in range(18,101) %}
              <option value={{n}}>{{n}}</option>
             {% endfor %}
            </select>         
          </label>
        </div>

        <div>
          <label>Gender F/M
            <select name="gender">
              <option value="f">F</option>
              <option value="m">M</option> 
            </select>   
          </label>
        </div>

        <div>
          <label>Interested In
            <select name="interested_in">
              <option value="f">F</option>
              <option value="m">M</option> 
            </select>   
          </label>
        </div>

        <div>
          <label>Your City:
            <input type="text" name="city" required>
          </label>
        </div>

        <div>
          <label>State:
            <input type="text" name="state" required>
          </label>
        </div>
        <div>
          <label>Your Contact info:
            <input type="number" name="contact" required>
          </label>
        </div>

        <div>
          <label>Occupation:
            <input type="text" name="occupation" required>
          </label>
        </div>
        <div>
          <label>What's Your Hobbie:
            {% for hobbie in hobbies_info %}
              <input type="checkbox" name="hobbie" value="{{hobbie.hobbie_id}}">{{hobbie.hobbie_name}}
            {% endfor %}
          </label>
        </div>

        <div>
          <label>Write about yourself:
            <textarea rows="4" cols="50" name = "aboutme" required>
            </textarea>
          </label>
        </div>
      <div class="upload_pic">
        <label>Upload Your Photo</label>
        <input type="file"name=file>
      </div>
      <br>
        <div>
          <input type="submit" value="SignUp">
        </div>
    </form>

{% endblock %}