{% extends 'base.html' %}

{% block title %} CoffeeMate{% endblock %}
{% block content %}

  <link rel="stylesheet" type="text/css" href="/static/css/signup.css">

    <div class="loginbox">
        <img src="/static/Avatar.png" class="avatar">
          <h1>Sign Up Here</h1>
            <form action="/set-up" method="POST">
              <p>First Name </p>
                <input type="text" name="fname" placeholder="Enter First Name" required>
              <p>Last Name </p>
                <input type="text" name="lname" placeholder="Enter Last Name"required>
              <p>Email </p>
                <input type="email" name="email" placeholder="Enter Email" required="" 
                      style="border: none;
                        background: transparent;
                        color: white;
                        border-bottom: 1px solid #fff;">
              <p>Password </p>
                <input type="password" name="password" placeholder="Enter Password"required>
              
                <input type="submit" value="Create">
                <a href="#">Have an account?</a>
            </form>            
    </div>
{% endblock %}